# compilation and tmp files
*.o
*~
*.so
*.gc*

# documentation
html
latex
html/*
latex/*
TODO.txt
Doxdoc/
Doxdoc/*
Doxyfile

# examples and tests
*/*/a.out
*/*/*.o
*/*/*~
*/*/*.gc*

# cmake ignored files
build/
build/*
*/build/
*/build/*
*/*/build/
*/*/build/*

# gitlab yml file auto generation
yml_build.sh
*.yml.template