image: gcc

before_script:
 - apt-get update -qq
 - apt-get install libsdl2-dev libsdl2-image-dev libsdl2-ttf-dev -y
 - export XDG_RUNTIME_DIR="$(mktemp -p $(pwd) -d xdg-runtime-XXXXXX)"
 - apt-get install bc -y
 - apt-get install cmake -y

tests:
    script:
        - tests/build.sh
        - tests/run.sh
    stage: test
    coverage: /coverage[:] ([0-9,\.]+%)/
    
code_quality:
        stage: test
        image: docker:stable
        variables:
                DOCKER_DRIVER: overlay2
        allow_failure: true
        services:
                - docker:stable-dind
        script:
                - export SP_VERSION=$(echo "$CI_SERVER_VERSION" | sed 's/^\([0-9]*\)\.\([0-9]*\).*/\1-\2-stable/')
                - docker run
                  --env SOURCE_CODE="$PWD"
                  --volume "$PWD":/code
                  --volume /var/run/docker.sock:/var/run/docker.sock
                  "registry.gitlab.com/gitlab-org/security-products/codequality:$SP_VERSION" /code
        artifacts:
                paths: [gl-code-quality-report.json]
